Repository XiMatriarx/typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --config .jestrc.json, prettier --write

version (#63)
  bin/init.sh
  citation.cff
  package.json
  readme.md
Due: prettier --write

version
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

version (#64)
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

capitalize
  readme.md
Due: none

capitalize (#65)
  readme.md
Due: none

typos
  package.json
  readme.md
Due: prettier --write

typos (#66)
  package.json
  readme.md
Due: prettier --write

version (#67)
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

documentation
  bin/init.sh
  citation.cff
  package.json
  readme.md
Due: prettier --write

documentation (#68)
  bin/init.sh
  citation.cff
  package.json
  readme.md
Due: prettier --write

list
  readme.md
Due: none

list (#69)
  readme.md
Due: none

ordering
  readme.md
Due: none

ordering (#70)
  readme.md
Due: none

dependencies
  .typescriptrc.json
  package-lock.json
  package.json
Due: prettier --write

dependencies (#71)
  .typescriptrc.json
  package-lock.json
  package.json
Due: prettier --write

bump
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

bump (#72)
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

docker
  .npmignore
  dockerfile
  package.json
Due: prettier --write

Docker (#73)
  .npmignore
  bin/init.sh
  citation.cff
  dockerfile
  package.json
Due: prettier --write

ordering
  .editorconfig
  .eslintrc.json
  .eslinttypescriptrc.json
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .npmignore
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

ordering (#74)
  .editorconfig
  .eslintrc.json
  .eslinttypescriptrc.json
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .npmignore
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

style
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .jesttypescriptrc.json
  .lintstagedrc.json
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package-lock.json
  package.json
  readme.md
  src/index.ts
  test/index.ts
Due: jest --config .jestrc.json, prettier --write

style (#75)
  .eslinttypescriptrc.json
  .github/dependabot.yml
  .jesttypescriptrc.json
  .lintstagedrc.json
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package-lock.json
  package.json
  readme.md
  src/index.ts
  test/index.ts
Due: jest --config .jestrc.json, prettier --write

extension
  .jestrc.json
Due: prettier --write

extension (#76)
  .jestrc.json
Due: prettier --write

types
  .typescriptrc.json
Due: prettier --write

types (#77)
  .typescriptrc.json
Due: prettier --write

version
  bin/init.sh
  citation.cff
  package-lock.json
  package.json
Due: prettier --write

version (#78)
  bin/init.sh
  citation.cff
  package-lock.json
  package.json
Due: prettier --write

version (#79)
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

testing
  .jestrc.json
Due: prettier --write

Testing (#80)
  .jestrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

version
  .eslinttypescriptrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

version (#81)
  .eslinttypescriptrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  bin/init.sh
  citation.cff
  package.json
Due: prettier --write

timeout
  .jestrc.json
Due: prettier --write

Path conditions:
  jest --config .jestrc.json: any of: *.ts
  prettier --write: any of: *.{json,ts}
