Repository XiMatriarx/typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: jest --config .jestrc.json --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint src test --no-error-on-unmatched-pattern",
  "*.{ts,json}": "prettier --write",
  "*.ts": "jest --config .jestrc.json --passWithNoTests"
}

fix
  package.json
Due: prettier --write

fix (#3)
  package.json
Due: prettier --write

swap
  .lintstagedrc.json
Due: prettier --write

swap (#4)
  .lintstagedrc.json
Due: prettier --write

extension
  tsconfig.json
Due: prettier --write

extension (#5)
  tsconfig.json
Due: prettier --write

sonarcloud
  .github/workflows/ci.yml
  readme.md
Due: none

sonarcloud (#6)
  .github/workflows/ci.yml
  readme.md
Due: none

workflow
  .github/workflows/ci.yml
  .github/workflows/release.yml
  readme.md
Due: none

workflow (#7)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  readme.md
Due: none

workflow
  .github/workflows/release.yml
Due: none

workflow (#8)
  .github/workflows/release.yml
Due: none

logo
  .github/workflows/release.yml
  readme.md
Due: none

logo (#9)
  .github/workflows/release.yml
  readme.md
Due: none

workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/release.yml
Due: none

workflows (#10)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/cron.yml
  .github/workflows/release.yml
Due: none

fix
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix (#11)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

scope
  .github/workflows/release.yml
Due: none

scope (#12)
  .github/workflows/release.yml
Due: none

release
  readme.md
Due: none

release (#13)
  readme.md
Due: none

release
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

release (#14)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

cron
  .github/workflows/cron.yml
Due: none

cron (#15)
  .github/workflows/cron.yml
Due: none

release (#16)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

quotes
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

quotes (#17)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

checks
  .github/workflows/cron.yml
Due: none

checks (#18)
  .github/workflows/cron.yml
Due: none

testing
  .eslintrc.json
  .jestrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
  src/index.ts
  test/index.ts
  tsconfig.json
Due: jest --config .jestrc.json --passWithNoTests, prettier --write

fixes
  .jestrc.json
  package.json
  tsconfig.json
Due: prettier --write

testing
  .eslintrc.json
  .eslinttypescriptrc.json
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .typescriptrc.json
  README.md
  index.html
  package-lock.json
  package.json
  test/index.ts
Due: jest --config .jestrc.json --passWithNoTests, prettier --write

quote
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

testing (#19)
  .eslintrc.json
  .eslinttypescriptrc.json
  .gitignore
  .jestrc.json
  .jesttypescriptrc.json
  .lintstagedrc.json
  .typescriptrc.json
  README.md
  index.html
  package-lock.json
  package.json
  src/index.ts
  test/index.ts
Due: jest --config .jestrc.json --passWithNoTests, prettier --write

run
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

styling
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Styling (#21)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none
